@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/utilities/functions";


// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');


$sidebar-width: 300px;
$gap: 16px;
$box-shadow: 2px 2px 2px 0 rgba(0,0,0,.2);


$family-serif: "Merriweather", "Georgia", serif;
$family-sans-serif: 'OpenSans', Helvetica, Arial, sans-serif;
$family-primary: $family-sans-serif;

$turquoise: #198DA2;

$primary: $turquoise;
$primary-invert: findColorInvert($turquoise);
$danger: $orange;

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);


$label-weight: $weight-normal;

// 5. Add new color variables to the color map.
@import "~bulma/sass/utilities/derived-variables";
$addColors: (
  "twitter":($twitter, $twitter-invert),
  "linkedin": ($linkedin, $linkedin-invert),
  "github": ($github, $github-invert)
);
$colors: map-merge($colors, $addColors);





