$fa-font-path: "../font-awesome/fonts" !default;
@import "../font-awesome/scss/font-awesome";

@import "_settings.scss";

// 6. Import the rest of Bulma
@import "~bulma/bulma";



// }

body, button, input, select, textarea, a {
  // font-family: $font-family;
  // font-size: $font-size;

  &:focus {
    border: inherit;
    outline: none;
  }
}
